
body{
    margin-top:30px;
}

#messageArea{
    display: none;
}

#userFormArea{
     
    padding-left:300px;
    padding-right:300px;
    padding-top: 100px;
   

}

#username{
    font-size: 1.5em;
}

.btn-primary{
    margin: auto;
    display: block; 
    font-size: 1.5em;
    border:2px solid rgb(26, 25, 25);
    color: rgb(26, 25, 25);
    background-color: #ffffff;
    border-radius: 0px;
}

 
 
 

#username {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

#mainChatContainer {
	width: 100%;
	height: 120px;
    border: 2px solid #000;
    border-bottom: 0px;
    padding:5px;    
	/* margin-bottom: 5px;  */
	font-family: Tahoma, sans-serif;
	background-color: #d1d6d3;
	background-position: bottom right;
    background-repeat: no-repeat;
    resize: none;
    border-radius: 5px;
    overflow-y:auto;
    font-size: 1.2em;
}

textarea#message{
    border: 2px solid #000000;
    border-top: 1.5px dashed #000000;
    height: 2em;
    font-size: 2em;
}

#userRow{    
    color: #ffffff;
    /* border: 1.5px solid #000000; */
    font-size: 1.5em;     
    display:block;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 5px;
}

#usermyRow{
    border: 5px solid rgb(0, 0, 0);
    color: #ffffff;
    /* border: 1.5px solid #000000; */
    font-size: 1.5em;     
    display:block;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 5px;
}

#well-users{
    border: 0px solid #fff;
    background-color: #ffffff;
}

#timer{
    font-size: 1.5em;    
}

#guessWord{
    font-size: 2em;
    font-weight: bold; 
}
 